@{
    ViewData["Title"] = "Home Page";
}

@namespace INF27507_Boutique_En_Ligne.Models
@model List<Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row mt-2 mb-2">
    <div class="col-3">
        <partial name="_FilterForm" model="@ViewBag.FilterForm"></partial>
    </div>
    <div class="col-9">
        @{
            foreach (Product product in @Model)
            {
                <partial name="_ProductCard" model=product></partial>
            }
            if (Model.Count == 0)
            {
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <h2>Aucun produit ne correspond à votre recherche !</h2>
                </div>
            }
        }
        </div>
</div>
