@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Stripe Error";
}

<h1 class="display-4">A problem was encountered during the payment using Stripe</h1>

<div class="row mt-4 mb-4">
    <div class="col">
        <h4>Your purchase could not be completed using Stripe. Please, try again or use the balance in your account.</h4>
    </div>
</div>

<div class="row mt-2 mb-2">
    <a class="btn btn-link" asp-controller="Home" asp-action="Index">Return to Home Page</a>
</div>